@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "AboutUs";
}

<h1>About Us</h1>
<br />
<div>
    <p>Here at Bogdan Auto are take good care in order to improve our service and to provide you the best experience possible.</p>
    <p>Our team</p>
    <div class="row">
        <div class="col">
            <img src="/Resources/CEO.jpg" alt="CEO" style="border-radius: 50%; width:150px;"/>
            <p style="position:relative; left:60px;">CEO</p>
       </div>
        <div class="col">
            <img src="/Resources/COO.jpg" alt="COO"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:60px;">COO</p>
       </div>
       <div class="col">
            <img src="/Resources/CFO.jpg" alt="CFO" style="border-radius: 50%; width:150px; height:auto;  "/>
            <p style="position:relative; left:60px;">CFO</p>
       </div>
        <div class="col">
            <img src="/Resources/CTO.jpg " alt="CTO"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:60px;">CTO</p>
       </div>
        <div class="col">
            <img src="/Resources/CMO.jpg" alt="CMO"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:60px;">CMO</p>
       </div>
       <div class="col">
            <img src="/Resources/CHRO.jpg" alt="CHRO"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:60px;">CHRO</p>
       </div>
       <div class="col">
            <img src="/Resources/Investor.jpg" alt="Investor"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:20px;">Investor</p>
       </div>
    </div>
    <br />
    <div class="row">
       <div class="col">
            <img src="/Resources/Winterfell.jpg" alt="Winterfell Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:0px;">Winterfell Regional Manager</p>
       </div>
       <div class="col">
            <img src="/Resources/WinterfellSiteManager.jpg" alt="Winterfell Site Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:0px;">Winterfell Site Manager</p>
       </div>
       <div class="col">
            <img src="/Resources/HRManager.jpg" alt="HR Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:15px;">HR Manager</p>
       </div>
       <div class="col">
            <img src="/Resources/EgiptManager.jpg" alt="Egipt Regional Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:10px;">Egipt Regional Manager</p>
       </div>
       <div class="col">
            <img src="/Resources/SecurityManager.jpg" alt="Security Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:9px;">Security Manager</p>
       </div>
       <div class="col">
            <img src="/Resources/RNDManager.jpg" alt="R&D Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:20px;">R&D Manager</p>
       </div>
       <div class="col">
            <img src="/Resources/ProjectManager.jpg" alt="Project Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:15px;">Project Manager</p>
       </div>
       <div class="col">
            <img src="/Resources/ComunicationManager.jpg" alt="Communication Manager"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:15px;">Communication Manager</p>
       </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <img src="/Resources/Dev.jpg" alt="Developer"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:30px;">Developer</p>
       </div>
       <div class="col">
            <img src="/Resources/QA.jpg" alt="QA"  style="border-radius: 50%;width:150px;"/>
            <p style="position:relative; left:60px;">QA</p>
       </div>
       <div class="col col-md8"></div>
       <div class="col col-md5"></div>
    </div>
</div>


