@{
    ViewData["Title"] = "Home Page";
}



<img src="~/Resources/bmw.jfif">

<div class="banner">
    <div class="banner-bg fill bg-fill bg-loaded">
        <div class="overlay">
        
        </div>
    </div>
</div>





