@model Bogdan_Auto.Models.AccountRegisterViewModel;
@{
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    ViewData["Title"] = "Create Staff Account";
}

<br />

<h2 class="text-info">Create a new staff account</h2>
<div>
    <form asp-action="Create" method="post">
        <div class="p-4 rounded border">
            <div asp-validation-summary="ModelOnly" class="text-danger">
                @Html.ValidationMessageFor(admin => admin.Email, "", new { @class = "text-danger" })
            </div>

              <div class="form-group row">
                <div class="col-3">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="col-6">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <br />
              <div class="form-group row">
                <div class="col-3">
                    <label asp-for="LastName"></label>
                </div>
                <div class="col-6">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-gorup row">
                <div class="col-3">
                    <label asp-for="Password"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-gorup row">
                <div class="col-3">
                    <label asp-for="ConfirmPassword"></label>
                </div>
                <div class="col-6">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div
            <br />
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="AccountType"></label>
                </div>
                <div class="col-6">
                    <select asp-for="AccountType" class="form-control">
                        <option>Select account type</option>
                        <option>Admin</option>
                        <option>Delivery</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create account" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
            <br />
        </div>
    </form>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
